extends layout

block content
    form(action="/new" method="POST") 
        h2= formName
        section 
            label(for="author-input") Name: 
            input(type="text" name="authorInput" id="author-input" required)
            label(for="message-input") Message: 
            input(type="text" name="messageInput" id="message-input" required) 
        button(type="submit") Submit
        