extends layout

block content
  button 
    a(href="/new") Add Message! 
  ul 
    each val in messages
      li.message 
        p 
          strong 
            span.name= val.user
          span : 
          span.msg-text= val.text
        p.date-added= val.added
  