html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;

  background-color: beige;

  color: #663300;
}

header,
footer {
  text-align: center;
}

main {
  flex: 1;
  padding: 1vh 5vw;
}

a,
a:visited {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1vmax;
}

p {
  padding: 0;
  margin: 0;
}

form {
  outline: 1px solid #663300;
  padding: 1vmax;
  max-width: 50%;
  margin: 1vh auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  min-height: 30%;
}

form>h2 {
  margin: 0;
}

form>section {
  min-width: 60%;
  display: grid;
  grid-template-areas: "label input"
    "label input";
  gap: 1.5vh;
}


section>label {
  grid-area: "label";
  font-weight: bold;
}

section>input {
  grid-area: "input";
}

form>button {
  max-width: max-content;
  padding: 0 5vw;
  font-weight: bold;
  font-size: 2vmax;
}


.message {
  font-size: 2vmax;
  padding: 1vmax;
}

.message>.date-added {
  padding-left: 3vmax;
}

footer>p {
  font-size: 5vmax;
}

button {
  color: beige;
  background-color: #663300;
  border-radius: 15px;
}

main>button {
  font-size: 2.5vmax;
  padding: 0 3.5vw;
}